@import '../../shared/color.scss';
@import '../../shared/mediaQuery.scss';

.new-dot-button {
  position: fixed;
  z-index: 110;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: $main-green;
  transition: right 1s ease;
  cursor: pointer;
  
  span {
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
}