@import '../../shared/color.scss';
@import '../../shared/mediaQuery.scss';

.post-item {
  .post-item-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }
}